.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

docs/Developing-an-Insect-Odorant-Receptor-Bioelectronic-Nose-for-Vapour-Phase-Detection.pdf
docs/Volatile-Organic-Compound-Detection-Using-Insect-Odorant-Receptor-Functionalised-Field-Effect-Transistors.pdf
5-vapour-sensing.docx
c07b0bd3d48fbf6637dd54811c6761323c186635
ec84fc964126858fd9a725099c271e27ecab07f4
