.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

docs/Developing-an-Insect-Odorant-Receptor-Bioelectronic-Nose-for-Vapour-Phase-Detection.pdf
docs/Volatile-Organic-Compound-Detection-Using-Insect-Odorant-Receptor-Functionalised-Field-Effect-Transistors.pdf
5-vapour-sensing.docx
